<tr>

  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <%= category.created_at.to_s[0..19] %> | <%= category.created_at.zone %> Time
  </td>
  <td>
    <%= category.products.count %>
  </td>

</tr>