<h1> Admin : Category page </h1>

<a href="<%= new_admin_category_path %>"><button>Create new category</button></a>

  <% @categories.each do |category| %>
    <ul>
        <li><%= category.name %> created on: <%= category.created_at %> </li>

    </ul>
  <% end %>